$primary-colour: #9932CC;
$dark-primary-colour: #732699;
$light-primary-colour: #a74dd3;
$text-icons: #FFFFFF;
$accent-colour: #CC9F47;
$primary-text: #FFFFFF;
$secondary-text: #BFBFBF;
$divider-colour: #3e4245;
$background-colour: #2E3133;
$background-menu: #1e2021;
$background-colour-dark: #202224;
$transition-speed: 600ms;

/* ------------------------------------------------------- */
/* --------------------- BASIC SETUP --------------------- */
/* ------------------------------------------------------- */
:root{
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;

    text-transform: uppercase;
}

body{
    height: 100vh;
    background-color: $background-colour;
    color: $primary-text;
}

body::-webkit-scrollbar{
    width: 0.50rem;
}

body::-webkit-scrollbar-track{
    background: $background-colour-dark;
}

body::-webkit-scrollbar-thumb{
    background: $accent-colour;
}

/* ------------------------------------------------------- */
/* ----------------- REUSABLE COMPONENTS ----------------- */
/* ------------------------------------------------------- */
main{
    margin-left: 5rem;
    padding: 1rem;
}

/* ----- FORMS ----- */
textarea{
    resize: none;
}

form{
    padding: 0 0 0 50px;
    width: 650px;
}

input:focus ~ label, 
textarea:focus ~ label, 
input:valid ~ label,
textarea:valid ~ label{
    font-size: 0.75em;
    color: $secondary-text;
    top: -5px;
    transition: all $transition-speed ease;
    -webkit-transition: all $transition-speed ease;
    -moz-transition: all $transition-speed ease;
    -ms-transition: all $transition-speed ease;
    -o-transition: all $transition-speed ease;
}

.styled-input{
    float: left;
    width: 650px;
    max-width: 100%;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.styled-input label{
    color: $secondary-text;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    transition: all $transition-speed ease;
    -webkit-transition: all $transition-speed ease;
    -moz-transition: all $transition-speed ease;
    -ms-transition: all $transition-speed ease;
    -o-transition: all $transition-speed ease;
}

input,
textarea{
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: $background-colour-dark;
    color: $primary-text;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

input:focus ~ span,
textarea:focus ~ span{
    width: 100%;
    transition: all $transition-speed ease;
    -webkit-transition: all $transition-speed ease;
    -moz-transition: all $transition-speed ease;
    -ms-transition: all $transition-speed ease;
    -o-transition: all $transition-speed ease;
}

textarea{
    width: 100%;
    min-height: 15em;
}

.submit-btn{
    margin-top: 10px;
    width: 200px;
    float: right;
    padding: 15px 35px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    background-color: $accent-colour;
    color: $background-colour;
    font-size: 110%;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
                0 2px 10px 0 rgba(0,0,0,0.07);
    font-weight: 700;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}


/* ----- HEADERS ----- */
h1{
    text-align: center;
    font-size: 300%;
    margin-top: 75px;
    margin-bottom: 50px;
}

/* ----- GRID ----- */
.row{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child{ margin-left: 0; }

.clearfix{
    clear: both;
}

.col-divider{
    border-right: 2px solid $divider-colour;
}

.span-1-of-3{
    width: 32.26%;
}

.span-2-of-3{
    width: 66.13%;
}

/* ------------------------------------------------------- */
/* ------------------------ HEADER ----------------------- */
/* ------------------------------------------------------- */
.navbar{
    z-index: 9999;
    width: 5rem;
    height: 100vh;
    position: fixed;
    transition: width 200ms ease;
    -webkit-transition: width 200ms ease;
    -moz-transition: width 200ms ease;
    -ms-transition: width 200ms ease;
    -o-transition: width 200ms ease;
}

.navbar:hover{
    width: 16rem;
    background-color: $background-menu;
}

.navbar:hover .link-text{
    display: inline;
    transition: opacity $transition-speed;
    -webkit-transition: opacity $transition-speed;
    -moz-transition: opacity $transition-speed;
    -ms-transition: opacity $transition-speed;
    -o-transition: opacity $transition-speed;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.nav-item{
    width: 100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: $primary-text;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    -webkit-filter: grayscale(100%) opacity(0.7);
}

.current{
    filter: grayscale(20%) opacity(0.7);
    -webkit-filter: grayscale(20%) opacity(0.7);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    -webkit-filter: grayscale(0%) opacity(1);
    background: $background-colour-dark;
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    min-width: 2rem;
    max-width: 2rem;
    margin: 0 1.5rem;
}

.ionicon{
    color: $primary-colour;
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}

/* ------------------------------------------------------- */
/* ----------------- HOME PAGE ----------------- */
/* ------------------------------------------------------- */
.intro-picture{
    width: 200px;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* ------------------------------------------------------- */
/* ---------------------- CONTACT ------------------------ */
/* ------------------------------------------------------- */
.social-media{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 75px;
}

.social-icon{
    width: 90px;
    margin: 25px 0;
    height: auto;
    color: $light-primary-colour;
}


/* ------------------------------------------------------- */
/* ------------------------ FOOTER ----------------------- */
/* ------------------------------------------------------- */
footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    padding: 1rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.footer-text{
    margin: 0 auto;
    text-align: center;
}