$primary-colour: #9932CC;
$dark-primary-colour: #732699;
$light-primary-colour: #B575D5;
$text-icons: #FFFFFF;
$accent-colour: #CC9F47;
$primary-text: #FFFFFF;
$secondary-text: #BFBFBF;
$divider-colour: #A1ACB3;
$background-colour: #2E3133;
$background-menu: #1e2021;
$background-colour-dark: #202224;
$transition-speed: 600ms;

/* small screens */
@media only screen and (max-width: 600px){
    .navbar{
        border-top: 2px solid $divider-colour;
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
        filter: grayscale(0%) opacity(1);
        -webkit-filter: grayscale(0%) opacity(1);
}

    main{
        margin: 0;
    }
}

